  <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/estilo.css">


  <div class="login-form">
     <h1>Iniciar sesión local</h1>

     <button type="button" class="log-btn" onclick="window.location='/loginLocal';">Log in</button>

    
   </div>


	<div class="login-form">
      <h1>Iniciar sesión con Github</h1>

     <button type="button" class="log-btn" onclick="window.location='/login/github';">Log in</button>

   </div>
   
   
